@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
.active {
  color: orange;
}
